extends layout

block content
  h1= title
  p Welcome to #{title}
  div(id='container')
    a(href="/register.html") Register
    br
    a(href="/login.html") Login
  script(src="/javascripts/index.js") 
