extends layout

block content
  nav 
    div(class="nav-wrapper")
      a(href="#" class="brand-logo") Recipes

  p Welcome to #{title} app
  div(id='container' class='container')
    div(id='recept' class='col')
    div(class='col')
      input(type='text' id='name-text')
      h4 Ingredients 
      textarea(id='ingredients-text')
      button(id='add-ingredient' type='button' class='btn') Add ingredient
      h4 instructions
      textarea(id='instructions-text')
      button(id='add-instruction' type='button' class='btn') Add instruction 
      input(id='image-input' type='file')
      button(id='submit' type='submit' class='btn') Submit
